.darkNav {
  background-color: var(--bs-dark);
  .LogoText {
    color: var(--bs-light) !important;
  }
  .Logo {
    color: var(--bs-light);
  }

  .NavLi > a:hover {
    background-color: var(--bs-indigo);

    color: var(--bs-light);
  }

  .NavLi > a {
    color: var(--bs-light);
  }
}

// ----------Hamburger\
.Hamburger {
  // box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  &:hover > .Bar {
    background-color: var(--bs-blue);
  }

  .Bar {
    background-color: var(--bs-indigo);
  }
}

// ---input
.darkInput {
  background-color: var(--bs-dark);
  color: var(--bs-light);
}

.imageContentDiv {
  background-color: #141A1F;
  h1,
  h2,
  h3 {
    color: var(--bs-light);
  }

  .ParaDiv {
    p {
      color: var(--bs-light);
    }
  }
}

.Left {
  padding: 20px;
  // display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  width: 1150px;
  margin: 20px auto;
  background-color: var(--bs-dark);
  color: var(--bs-light);
  @media screen and (max-width: 1155px) {
    width: 95%;
  }
  h3,
  h2,
  h4,
  h5,
  h6 {
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--bs-light);
    // text-align: center;
    @media screen and (max-width: 590px) {
      font-size: 22px;
    }
  }

  p {
    font-size: 18px;
    // width:900px;
    padding: 8px;
    line-height: 26px;
    color: var(--bs-light);
  }

  ul,ol {
    li {
      margin: 7px 0;
      font-size: 17px;
      line-height: 25px;
      b {
        margin-right: 6px;
        font-size: 18px;
        color: var(--bs-light);
      }
    }
  }
}

// --------------Footer----------------

.Footer {
  border-top: 0.2px solid var(--bs-light);
  background-color: var(--bs-gray-800);
  .Logo {
    color:var(--bs-light) span {
      color: var(--bs-light);
      font-size: 30px;
    }
  }
}

.Card {
  li {
    a {
      color: var(--bs-light);
      &:hover {
        background-color: var(--bs-indigo);
      }
    }
  }
}

// -------faqs
.container {
  border: 2px solid var(--bs-indigo);
  box-shadow: none;
  color: var(--bs-light);
  svg {
    fill: var(--bs-gray-200);
  }
}
.heading {
  color: var(--bs-100);
}
.single {
  .SingleF {
    border-bottom: 1px solid var(--bs-indigo);
    margin: 3px 0;
  }
}

.question {
  font-weight: 400;
  color: var(--bs-light);
}

.ans {
  color: var(--bs-light);
  background-color: var(--bs-gray-800);
}

// -------------Side bar-------
.Sidebar {
  background-color: var(--bs-dark);
}

.Close svg {
  transition: all 0.3s ease-in-out;
  fill: var(--bs-light);
}
.Close svg:hover {
  fill: var(--bs-indigo);
}

.SidebarLi a {
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  padding: 5px;
  position: relative;
  border-radius: 3px;
  color: var(--bs-light);
}

.SidebarLi > a:hover {
  background-color: var(--bs-indigo);

  color: var(--bs-light);
}

.Continent {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  span {
    margin: 4px 7px;
    font-weight: 500;
  }
  button {
    --b: 3px; /* border thickness */
    --s: 0.15em; /* size of the corner */
    --c: var(--bs-blue);

    padding: calc(0.05em + var(--s)) calc(0.3em + var(--s));
    color: var(--c);
    --_p: var(--s);
    background: conic-gradient(
        from 90deg at var(--b) var(--b),
        #0000 90deg,
        var(--c) 0
      )
      var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
      calc(100% - var(--b) - 2 * var(--_p));
    transition: 0.3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: 0.2em;
    font-family: system-ui, sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    cursor: pointer;
    border: none;
    margin: 8px;
    color: var(--bs-light) !important;
    &:hover,
    &:focus-visible {
      --_p: 0px;
      outline-color: var(--c);
      outline-offset: 0.05em;
    }
    &:active {
      background: var(--c);
      color: #fff;
    }
  }
}
